@{
    ViewBag.Title = "Add";
}

<p class="bg-success">@TempData["Success"]</p>
<p class="bg-danger">@TempData["Erors"]</p>

<blockquote >
    @using (Html.BeginForm("Add", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
    {
    <div class="form-group">
    <h4 class="text-muted">Загрузить файл</h4>    
    <input type="file" name="file" class="center-block" accept="application/vnd.ms-excel" />
    <br />
    <input type="submit" value="Загрузить" class="btn btn-default" />
    </div>
    }
</blockquote>
